---
---

.blog-post {
  padding-left: 4rem;
  padding-right: 4rem;
}

.navbar-brand {
  font-family: komet, sans-serif;
  font-weight: 100;
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #4d571a;
}

.nav-link {
  font-family: komet, sans-serif;
  font-weight: 100;
}

.navbar-custom {
  background: #bac643;
}

body {
  font-family: komet, sans-serif;
  font-weight: 100;
  
}

h1,h2,h3,h4,h5,h6 {
  font-family:komet, sans-serif;
  font-weight: 100;

}

body a:link, body a:visited {
  color: #4d571a;
}

body a:hover {
  color: black;
}

.blog-post hr {
    max-width: 25%;
    border-width: 0.25rem;
    border-radius: 0.1875rem;
    border-color: #010101;
}

.small {
    color: {{ site.text-col }};
}

.centrer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro-header .page-heading .page-subheading,
.intro-header .post-heading .post-subheading {
  font-size: 1.6875rem;
  line-height: 1.1;
  display: block;
  font-family: komet, sans-serif;
  font-weight: 900;
  font-style: normal;
  margin: 0.625rem 0 0;
}

/*
.navbar-custom {
  background-color: {{ site.navbar-col | default: "#EAEAEA" }};
    border-bottom: 1px solid {{ site.navbar-border-col | default: "#DDDDDD" }};
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    {% if site.navbar-img %}
      background-image: url({{ site.navbar-img | relative_url }});
      background-attachment: fixed;
    {% endif %}
    -webkit-transition: padding .5s ease-in-out;
    -moz-transition: padding .5s ease-in-out;
    transition: padding .5s ease-in-out;
  }

/* <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Krub:wght@200&family=Roboto:wght@100&display=swap" rel="stylesheet"> 
font-family: 'Krub', sans-serif; */  