.navbar {
    padding-left: 4rem;
    padding-right: 4rem;
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: #515e56;
}

.blog-post hr {
    max-width: 25%;
    border-width: 0.25rem;
    border-radius: 0.1875rem;
    border-color: #010101;
}

.small {
    color: #010101;
}

.centrer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
.navbar-custom {
  background-color: {{ site.navbar-col | default: "#EAEAEA" }};
    border-bottom: 1px solid {{ site.navbar-border-col | default: "#DDDDDD" }};
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    {% if site.navbar-img %}
      background-image: url({{ site.navbar-img | relative_url }});
      background-attachment: fixed;
    {% endif %}
    -webkit-transition: padding .5s ease-in-out;
    -moz-transition: padding .5s ease-in-out;
    transition: padding .5s ease-in-out;
  }

/* <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Krub:wght@200&family=Roboto:wght@100&display=swap" rel="stylesheet"> 
font-family: 'Krub', sans-serif; */  